<div>
    <div class="product-headline-container">
    <h2 class="product-headline"><%= @regional_product.name %> <span><%= @regional_product.type.category.name %></span></h2>
    <img src="/images/products/<%= @regional_product.type.slug %>.png" alt="<%= @regional_product.type.name %> Icon"
             onerror="this.src='/images/<%= @regional_product.type.category.slug %>.png'">
             </div>
    <div class="single-grid">
    <div class="value-container one-one">
          <%= for month <- @months |> Enum.slice(0,6) do %>
            <div class="rating <%= convert_availability_to_name(Map.get(@regional_product.availabilities, String.to_atom(month))) %> color-<%= month %>"></div>
          <% end %>
          </div>
          <div class="value-container one-two">
          <%= for month <- @months |> Enum.slice(6,11) do %>
            <div class="rating <%= convert_availability_to_name(Map.get(@regional_product.availabilities, String.to_atom(month))) %> color-<%= month %>"></div>
          <% end %>
          </div>

          <div class="value-container one-three">
                  <div class="label">Jan</div>
                  <div class="label">Feb</div>
                  <div class="label">Mär</div>
                  <div class="label">Apr</div>
                  <div class="label">Mai</div>
                  <div class="label">Jun</div>
                </div>

                <div class="value-container one-four">
                  <div class="label">Jul</div>
                  <div class="label">Aug</div>
                  <div class="label">Sep</div>
                  <div class="label">Okt</div>
                  <div class="label">Nov</div>
                  <div class="label">Dez</div>
                </div>

    </div>


</div>



</ul>
