<h2>Region</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.contributor_region_path(@conn, :update, @region)) %>

<%= link "Back", to: Routes.contributor_region_path(@conn, :index), class: "link" %>
