<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

<div class="input-container">
  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>
  </div>

  <div class="input-container multiple">
     <%= label f, :editors %>
          <%= multiple_select f, :editors, editor_select_options(@users) %>
     <%= error_tag f, :editors %>
     </div>


  <div>
    <%= submit "Save", class: "select-button" %>
  </div>
<% end %>
