<h2>Listing Regions</h2>

<div class="listing-container">
<%= for region <- @regions do %>
    <div class="listing">
    <p><%= region.name %>
    <span>
    <%= for {editor, index} <- Enum.with_index(region.editors) do %><%= if index > 0 do %>,<% end %>
        <%= editor.name %>
    <% end %>
    </span>
    </p>
    <div class="edit-links">
     <%= link "Edit", to: Routes.contributor_region_path(@conn, :edit, region), class: "link" %>
     <%= link "Delete", to: Routes.contributor_region_path(@conn, :delete, region), method: :delete, data: [confirm: "Are you sure?"], class: "link danger-link" %>
    </div>
    </div>
<% end %>
</div>

<%= link "New Region", to: Routes.contributor_region_path(@conn, :new), class: "link" %>