<h2>New Region</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.contributor_region_path(@conn, :create)) %>

<%= link "Back", to: Routes.contributor_region_path(@conn, :index), class: "link" %>
