<h2>Month</h2>
<p>Pick a month to get a more detailed overview for what's in season in that month.</p>
<div class="overview">
<%= for month <- @months do %>
<%= link to: Routes.region_month_path(@conn, :show, @region_id, month.slug), class: "month-link" do %>
<span class="month-link-background color-<%= month.slug %>">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="1252.074 747.71 36.919 175.777" width="36.919" height="175.777"><path d=" M 1285.137 747.713 C 1276.971 746.943 1256.384 892.379 1252.074 923.487 C 1261.765 915.73 1273.219 906.577 1286.054 896.331 C 1288.43 842.647 1291.677 748.343 1285.137 747.713 L 1285.137 747.713 Z " /></svg>
</span>
<%= month.name %>
<% end %>
<% end %>

</div>