<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Seasonals</title>
    <link rel="apple-touch-icon" sizes="180x180" href="<%= Routes.static_path(@conn, "/apple-touch-icon.png") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(@conn, "/favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= Routes.static_path(@conn, "/favicon-16x16.png") %>">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="<%= Routes.static_path(@conn, "/safari-pinned-tab.svg") %>" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Rubik:300,400,900" rel="stylesheet">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

  </head>
  <body>
    <header>
          <a href="/" class="headline">
            <div class="background">
              <img src="<%= Routes.static_path(@conn, "/images/logo.svg") %>">
            </div>
            <h1>Seasonals</h1>
          </a>
          <div class="dropdown region-select">
              <h3 class="dropdown-headline"><%= if is_region_path(@current_path) do %><%= String.capitalize(current_region(@current_path)) %><% else %>Regions<% end %><img src="/images/down.png"></h3>
              <div class="select-buttons">
                   <%= for region <- @all_regions do %>
                   <%= active_link(@conn, region.name, to: SeasonalCalendarWeb.LayoutView.generate_link_url(%{ region: region.slug, path: @current_path }), active: :inclusive,  class: "select-button" )%>
                   <% end %>
              </div>
        </header>
      <nav>
      <%= if is_region_path(@current_path) do %>
                    <%= active_link(@conn, "Months", to: Routes.region_month_path(@conn, :index, current_region(@current_path)), active: :inclusive, class: "big-link")%>
                <% end %>
        <%= if Pow.Plug.current_user(@conn) do %>
            <%= active_link(@conn, "Contributor", to: Routes.contributor_contributor_path(@conn, :index), active: :inclusive, class: "big-link")%>
        <% end %>

         <%= if @current_user == nil do %>
         <% end %>
        </nav>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
