<button phx-click="toggle_info" class="info-button" value="<%= @info_visible %>">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-lt-installed="true"><path d="M512 256c0 68.383-26.625 132.664-74.977 181.023C388.664 485.375 324.383 512 256 512s-132.664-26.625-181.023-74.977C26.625 388.664 0 324.383 0 256S26.625 123.336 74.977 74.977C123.336 26.625 187.617 0 256 0s132.664 26.625 181.023 74.977C485.375 123.336 512 187.617 512 256zm0 0" fill="#fed85d" data-original="#4ED8DF" data-old_color="#fed85d"/><path d="M512 256c0 68.383-26.625 132.664-74.977 181.023C388.664 485.375 324.383 512 256 512V0c68.383 0 132.664 26.625 181.023 74.977C485.375 123.336 512 187.617 512 256zm0 0" fill="#ffc064" data-original="#11A9C6" data-old_color="#ffc064"/><path d="M445.762 256c0 104.64-85.121 189.762-189.762 189.762S66.238 360.64 66.238 256 151.36 66.238 256 66.238 445.762 151.36 445.762 256zm0 0" fill="#fce189" data-original="#DDEAF1" data-old_color="#FED85D"/><path d="M445.762 256c0 104.64-85.121 189.762-189.762 189.762V66.238c104.64 0 189.762 85.121 189.762 189.762zm0 0" fill="#f8d49e" data-original="#BDDFFF" class="active-path" data-old_color="#FFC064"/><path d="M241.02 137.395h29.96v29.96h-29.96zm0 0M241.02 192.25h29.96v181.71h-29.96zm0 0" fill="#333" data-original="#305895" data-old_color="#222222"/><g fill="#1b3558"><path d="M256 137.395h14.98v29.96H256zm0 0M256 192.25h14.98v181.71H256zm0 0" data-original="#000000" data-old_color="#000000" fill="#333"/></g></svg>
</button>
<div class="info-container <%= if @info_visible do %>visible<% end %>">
<div class="info-text"><p><%= raw @text %></p>
<button phx-click="toggle_info" class="info-button info-close" value="<%= @info_visible %>">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 472.616 472.616"><path d="M250.233 236.308L469.732 16.809a9.847 9.847 0 0 0-13.925-13.925L236.308 222.383 16.809 2.884A9.847 9.847 0 0 0 2.884 16.809l219.499 219.499L2.884 455.807c-3.845 3.845-3.845 10.08 0 13.925a9.818 9.818 0 0 0 6.963 2.884c2.52 0 5.039-.962 6.962-2.884l219.499-219.499 219.499 219.499a9.818 9.818 0 0 0 6.962 2.884c2.52 0 5.039-.962 6.963-2.884 3.845-3.845 3.845-10.08 0-13.925L250.233 236.308z"/></svg>
</button>
</div>
</div>