
/* This file is for your main application css. */

@import "./colors.scss";
@import "./fonts.scss";
@import "./header.scss";
@import "./forms.scss";
@import "./month.scss";
@import "./product.scss";
@import "./contributor.scss";


*,*:after,*:before{box-sizing:border-box;}

html {
    box-sizing:border-box;
    font-size:62.5%;
    height: 100%;

    @media screen and (max-width: 1024px) {
      font-size: 55%;
    }

    @media screen and (max-width: 480px) {
      font-size: 50%;
    }
}
body{
    color:$color-darker;
    font-family: $font-main;
    font-size:2em;
    font-weight: 300;
    line-height:1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;

    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }

h1,h2,h3,h4,h5,h6 {
    font-family: $font-big;
    color: $color-darker;
    font-weight: 700;
    margin: 0
}
/* General style */
h1{font-size: 3.6rem; line-height: 1.25;}
h2{font-size: 2.8em; line-height: 1.3}
h3{font-size: 2.2rem; letter-spacing: -.08rem; line-height: 1.35}
h4{font-size: 1.8rem; letter-spacing: -.05rem; line-height: 1.5}
h5{font-size: 1.6rem; letter-spacing: 0; line-height: 1.4}
h6{font-size: 1.4rem; letter-spacing: 0; line-height: 1.2}

h2 {
  margin-bottom: 40px;
}

@media screen and (max-width: 1024px) {
  h1 {
    line-height: 1.1;
  }
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 50px;
  color: $color-dark;
  position:absolute;
  left: 0;
  top: 300px;
  padding-top: 0;
  flex-shrink: 0;

  @media screen and (max-width:1440px) {
        flex-direction: row;
        position: relative;
        left: auto;
        top: auto;

  }

  @media screen and (max-width: 1024px) {
    padding: 10px 25px;
    flex-wrap: wrap;
  }
}

.big-link  {
  margin-right: 25px;
  font-size: 2.4rem;
  color: $color-darker;
  text-decoration: none;
  margin-bottom: 15px;
  display: block;
  width: -moz-max-content;
  width: max-content;

  &:after {
      content: '';
      display: block;
      width: 0;
      height: 4px;
      background: linear-gradient(to right, $color-yellow-red, $color-red-yellow);
      transition: width .3s;

  }
  &:hover {
      &:after{
          width: 100%;
      }

  }

  &.active {
    &:after {
      width: 100%;
    }
  }
}

.container{
    padding: 10px 50px;
    position: relative;
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
    flex: 1 0 auto;

    @media screen and (max-width: 1024px) {
      padding: 10px 25px;
    }
}

.link {
  text-decoration: none;
  color: $color-darker;
  display: inline-block;
  font-weight: 400;
  width: max-content;

  &:after {
      content: '';
      display: block;
      width: 0;
      height: 4px;
      background: linear-gradient(to right, $color-yellow-red, $color-red-yellow);
      transition: width .3s;

  }
  &:hover {
      &:after{
          width: 100%;
      }

    }
}

.overview {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3, 1fr);
  font-size: 22px;
  margin-top: 40px;
  grid-gap: 15px;

  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  @media screen and (max-width: 400px) {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: none;
}
.alert-info {
  color: $color-darker;
  background: linear-gradient(to right, $color-yellow-green, $color-green-yellow);
}
.alert-warning {
  border-color: $color-red;
  color: $color-red;
  background-color: $color-yellow-red;
  border-color: $color-red;
}
.alert-danger {
  color: $color-darker;
  background: linear-gradient(to right, $color-yellow-red, $color-red-yellow);
  border-color: $color-red;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.help-block {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

button:focus {
  outline: none;
}

.select-buttons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}


.select-button {
  background: none;
  border: none;
  font-size: 2.4rem;
  padding: 2px 0;
  font-weight: 300;
  margin-right: 15px;
  font-family: $font-main;
  color: $color-darker;

  display:inline-block;

  img {
    height: 18px;
    width: 18px;
    display: inline-block;
    margin-right: 5px;

    @media screen and (max-width: 1024px) {
      height: 15px;
      width: 15px;
    }
  }


  &:after {
      content: '';
      display: block;
      width: 0;
      height: 4px;
      background: linear-gradient(to right, $color-yellow-red, $color-red-yellow);

      transition: width .3s;

  }
  &:hover {
      &:after{
          width: 100%;
      }
  }

  &.active {
    &:after {
      width: 100%;
    }
  }
}

.action-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}



.info-button {
  height: 50px;
  width: 50px;
  display: block;
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 25px;

  img {
    max-height: 100%;
    max-width: 100%;
    display: block;
  }
}

.info-close {
  height: 30px;
  width: 30px;
  right: 10px;
  top: 10px;
  fill: $color-darker;

  svg {
    max-width: 20px;
    max-height: 20px;
  }

  &:active {
    fill: $color-red-yellow;


  }
}

.info-container {
  width: 50%;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 25px;
  z-index: 100;
  transform-origin: right;


  @media screen and (max-width: 1024px) {
    width: calc(100% - 50px);
  }

  &.visible {
    visibility: visible;
    animation: .1s linear 0s 1 slideInFromRight;
    transform-origin: right;
  }

}

.info-text {
  padding: 15px 25px;

  background: rgba(white, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;


  @media screen and (max-width: 1024px) {
    padding: 10px 25px;
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
@keyframes slideOutToRight {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform: scaleX(0);
  }
}

.dropdown-headline {
  font-family: $font-main;
  font-weight: 300;
  font-size: 2.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  padding: 2px 0px;

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: linear-gradient(to right, rgba($color-yellow-red,1), rgba($color-red-yellow,1));
    transition: width .3s;
    position: absolute;
    left:0;
    bottom: -2px;
    z-index: -1;

  }

  img {
    margin-left: 5px;
    display: block;
    height: 20px;
    width: 20px;
  }
}

.dropdown {
  margin-right: 30px;
  padding: 2px 0px;
  width: 170px;
  position: relative;

  .select-buttons {
    flex-direction: column;
    position: absolute;
    background: white;
    visibility: hidden;
    width: 100%;
    transform: translateY(-2em);
    opacity: 0;
    padding: 2px 0px;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  }

  .select-button {
    font-size: 2.2rem;
    padding: 2px 0px;
  }

  &:hover {




    .select-buttons {
      visibility: visible; /* shows sub-menu */
      opacity: 1;
      z-index: 1;
      display: flex;
      background: white;
      transform: translateY(0%);
      transition-delay: 0s, 0s, 0.3s;
    }

    .dropdown-headline {
      color: $color-red-yellow;
      z-index: 10000;
      position: relative;
      background: white;
    }
  }
}

code, samp {
  white-space: pre;
  padding: 2px;
  font-size: 1.2em;
}

samp {
  display: block;
  padding: 0 15px;
  margin: 10px 0;
  border-left: 8px solid $color-yellow-red;
}

.legal {
  display: flex;
  margin-top: 100px;
  padding-left: 50px;
  flex-direction: column;
  flex-shrink: 0;

  @media screen and (max-width: 1024px) {
    padding-left: 25px;
    flex-direction: row;
  }
}


.rating-stored {
  position: relative;
  z-index: -3;
  &:before {
    content: '';
    width: 80%;
    height: 80%;
    background: white;
    position: absolute;
    left: 10%;
    top: 10%;
    z-index: -2;
}

&:after {
    content: "";
    width: 60%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: -1;
}

}

.action-links {
  .link {
    margin-right: 10px;
  }
}