$color-dark: #4c5B5c;
$color-darker: #333333;
$color-purple: #666a86;
$color-blue: #95b8d1;


$color-green-blue: #77e39e;
$color-green: #72F968;
$color-green-yellow: #aaf762;

$color-yellow-green: #d5f45b;
$color-yellow: #FBF054;
$color-yellow-red: #fed85d;

$color-red-yellow: #ffc064;
$color-red: #FFA66A;
$color-red-blue: #dfab9e;

$color-blue-red: #b8afcc;
$color-blue: #6DB4FF;
$color-blue-green: #7bcbd0;

.color-january {
    fill: $color-blue-green;
    background-color: $color-blue-green;
}

.color-february {
    fill: $color-green-blue;
    background-color: $color-green-blue;
}

.color-march {
    fill: $color-green;
    background-color: $color-green;
}

.color-april {
    fill: $color-green-yellow;
    background-color: $color-green-yellow;
}

.color-may {
    fill: $color-yellow-green;
    background-color: $color-yellow-green;
}

.color-june {
    fill: $color-yellow;
    background-color: $color-yellow;
}

.color-july {
    fill: $color-yellow-red;
    background-color: $color-yellow-red;
}

.color-august {
    fill: $color-red-yellow;
    background-color: $color-red-yellow;
}

.color-september {
    fill: $color-red;
    background-color: $color-red;
}

.color-october {
    fill: $color-red-blue;
    background-color: $color-red-blue;
}

.color-november {
    fill: $color-blue-red;
    background-color: $color-blue-red;
}

.color-december {
    fill: $color-blue;
    background-color: $color-blue;
}