.contributor-list {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.region-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 30px 0 80px;
  grid-gap: 10%;

  h2 {
    font-size: 2rem;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.product-container {
  position: relative;

  h3 {
    margin-bottom: 40px;
  }
}

.listing {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 2.6rem;
  color: $color-dark;
  margin-bottom: 10px;

  p {
    padding: 0;
    position: relative;
    margin: 0;
    width: 80%;
  }

  .edit-links {
    .link {
      margin-right: 10px;
    }
  }




  span {
    font-size: 1.4rem;
    display: block;
    color: rgba($color-red-yellow, 1);
    font-family: 'Karla', cursive;
    font-weight: 400;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
  }
}
.danger-link {
  color: $color-red-blue !important;
}

.germany {
  #germany:after {
    width: 100%;
  }
}

.france {
  #france:after {
    width: 100%;
  }
}

