.headline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.background {
  z-index: -1;
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -150px;
  left: -100px;
  margin-right: 15px;
  
  img {
      display: block;
      width: 80%;
  }

  @media screen and (max-width:1024px) {
    height: 40px;
    width: 40px;
  }
}

header {
    width: 100vw;
    padding: 40px 50px 40px 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;

    h1 {
        margin: 0;
        padding: 0;
        font-size: 7.4rem;
    }

    @media screen and (max-width:1440px) {
        margin-bottom: 50px;
  }
  @media screen and (max-width: 1024px) {
    padding: 10px 25px;
    h1 {
      font-size: 6.4rem;
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media screen and (max-width: 480px) {
    padding: 10px 25px;
    h1 {
      font-size: 3.8rem;
    }
  }
}

