.month-link {
    text-decoration: none;
    color: $color-darker;
    position: relative;
    font-size: 2.6rem;
    padding-left: 20px;
}

.month-link-background {
    height: 25px;
    width: 8px;
    z-index: -1;
    transform: rotate(25deg);
    display: block;
    position: absolute;
    left: 5px;
    top: 0px;
    background: none;

    svg {
        display: block;
        width: 100%;
        height: auto;
    }
}


.month-headline {
    position: relative;
    padding-left: 40px;
}

.month-background {
    height: 25px;
    width: 15px;
    z-index: -1;
    transform: rotate(25deg);
    display: block;
    position: absolute;
    left: 25px;
    top: 0px;
    background: none;

    svg {
        display: block;
        width: 100%;
        height: auto;
    }

    @media screen and (max-width: 1024px) {
        width: 12px;
        top: 5px;   
    }
}

.category {
    width: 100%;
}

.month-productlist {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    margin-bottom: 100px;

    @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(6, 1fr);
    }

    @media screen and (max-width: 680px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: 480px) {
        grid-template-columns: repeat(3, 1fr);
    }

    & > p {
        position: absolute;
    }
}

.month-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-bottom: 15px;




    .month-product--text {
        line-height: 1.2;
        text-align: center;


        p  {
            padding: 0;
            margin: 0;
            color: $color-darker;
        }

        span {
            display: block;
            padding: 0;
            margin: 0;
            font-size: 1.4rem;
            color: rgba($color-darker, 0.5);
            font-family: $font-big;
            font-weight: 400;
        }

    }

    img {
        display: block;
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
    }

    @media screen and (max-width: 1024px) {
        img {
            width: 30px;
            height: 30px;
        }

    }
}

.category-label {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.all_ratings {
    #all_ratings:after {
        width: 100%;
    }
}

.in_season {
    #in_season:after {
        width: 100%;
    }
}

.peak_season {
    #peak_season:after {
        width: 100%;
    }
}

.out_of_season {
    #out_of_season:after {
        width: 100%;
    }
}

.all_categories {
    #all_categories:after {
        width: 100%;
    }
}