.product-preview {
    display: grid;
    width: 100%;
    height: 60px;
    position: relative;
    align-items: flex-end;
    grid-template-rows: 1fr;
    grid-template-columns: calc(30% - 10px) 70%;
    grid-gap: 10px;

    img {
        display: block;
        width: 40px;
        height: 40px;
        margin-right: 15px;
    }

    p {
        margin: 0;
        color: $color-darker;
    }

    span {
        font-size: 1.4rem;
        display: block;
        color: rgba($color-darker, 0.5);
        font-family: $font-big;
        font-weight: 400;
    }

    &:hover {
    }

    @media screen and (max-width: 680px) {
        grid-template-columns: 35% 60%;
        height: 40px;
        grid-gap: 5%;
        margin-bottom: 5px;
        width: 100%;

        img {
            width: 30px;
            height: 30px;
        }
    }
}

.product-preview-text {
    display: flex;
    flex-direction: row;
    font-size: 2.6rem;
    position: relative;
    line-height: 1.2;
    height: 100%;
    align-items: center;

    @media screen and (max-width: 680px) {
        font-size: 16px;
        span, img { display: none;}
    }
}

.product-headline-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 100px;

    img {
        display: block;
        width: 64px;
        max-width: 64px;
        height: 100%;
    }

    @media screen and (max-width: 768px) {
        margin-bottom: 50px;
        img {
            display: none;
        }
    }
}

.product-headline {
    position: relative;
    font-size: 5.4rem;
    margin-bottom: 15px;

    span {
        font-size: 2.4rem;
        color: $color-dark;
        font-weight: 300;
        display: block;
        margin-top: -10px;

    }
}

.value-container {
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    grid-gap: 15px;
    position: relative;
    align-items: center;
}

.single-grid {
    margin-top: 50px;
    display: grid;
    grid-template-rows: 80px 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "a b"
    "c d";
    grid-gap: 15px;

    @media screen and (max-width: 1024px) {
        grid-template-rows: 50px 30px;
    }



    @media screen and (max-width: 768px) {
        grid-template-areas:
        "a"
        "c"
        "b"
        "d";
        grid-template-rows: 60px 40px 60px 40px;
        grid-template-columns: 1fr;

        .value-container {
            grid-gap: 45px;
        }
    }

    @media screen and (max-width: 600px) {
        grid-template-rows: 50px 30px 50px 30px;
        .value-container {
            grid-gap: 15px;
        }
    }

    @media screen and (max-width: 480px) {
        grid-gap: 5px;
    }
}

.preview-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    grid-template-areas:
        "a b";
    transition: transform .3s;
    transform-origin: left;


    @media screen and (max-width: 680px) {
        grid-gap: 4px;

        .value-container {
            grid-gap: 3px;
        }
    }

}

.labels {
    @media screen and (max-width: 680px) {
        height: 25px;
    }
}


.one-one {
    grid-area: a;
}

.one-two {
    grid-area: b;
}

.one-three {
    grid-area: c;
}

.one-four {
    grid-area: d;
}

.value-in-season {
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;


    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: inherit;
        border-top-left-radius: 100%;
        border-bottom-right-radius: 100%;
        transform: rotate(90deg);

    }

}

.value-peak-season {
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
    padding-top: 100%;
}

.label {
    align-self: center;
    justify-self: center;
    text-align: center;
}

.value {
    width: 100%;
    text-align: center;
}

.value-stored {

    position: relative;
    justify-self: center;

    &:before {
        content: '';
        width: 80%;
        height: 80%;
        background: white;
        position: absolute;
        left: 10%;
        top: 10%;
    }

    &:after {
        content: "";
        width: 60%;
        height: 60%;
        position: absolute;
        top: 20%;
        background: inherit;
        left: 20%;
        border-bottom-right-radius: 100%;
        border-top-left-radius: 100%;
    }
}

.rating {
    width: 100%;
    padding-top: 100%;
    position: relative;
    justify-self: center;
    box-sizing: border-box;
}

.value-not-available {
    padding-top: 20%;
    width: 100%;
    transform: rotate(45deg);

    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding-top: 20%;
        transform: rotate(-90deg);
        background-color: inherit;
    }
}

.stored {
    #stored:after {
        width: 100%;
    }
}

.combined {
    #combined:after {
        width: 100%;
    }
}

.combined-compact {
    #combined-compact:after {
        width: 100%;
    }

    .value.value-import {
        width: 35% !important;
    }
}


.all {
    #all:after {
        width: 100%;
    }
}

.fruit {
    #fruit:after {
        width: 100%;
    }
}

.vegetable {
    #vegetable:after {
        width: 100%;
    }
}

.legend {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    padding: 0 15px;
    width: 100%;
    margin-bottom: 20px;
    //background: rgba($color-darker, .1);
    border-bottom: 4px solid $color-yellow-red;


    @media screen and (max-width: 768px) {
        flex-direction: column;
        height: auto;
    }
}

.legend-entry {
    height: 100%;
    width: 25%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    //margin: 0 30px 0 0;
    padding: 0;
    margin: 0;
    font-size: 20px;

    img {
        height: 20px;
        width: 20px;
        margin-right: 8px;
    }
}