<%= if @changeset.action do %>
      <p class="alert alert-danger">Oops, something went wrong! Please check the errors below.</p>
  <% end %>

<h2>Edit profile</h2>

<%= form_for @changeset, @action, [as: :user], fn f -> %>

  <div class="input-container">
    <%= label f, Pow.Ecto.Schema.user_id_field(@changeset) %>
    <%= text_input f, Pow.Ecto.Schema.user_id_field(@changeset) %>
    <%= error_tag f, Pow.Ecto.Schema.user_id_field(@changeset) %>
    </div>

    <div class="input-container">
       <%= label f, :name %>
        <%= text_input f, :name %>
        <%= error_tag f, :name %>
    </div>

    <div class="input-container">
        <img class="dropdown-indicator" src="/images/down.png">
        <%= label f, :role %>
        <%= select f, :role, [:user, :admin], prompt: "Choose a role" %>
        <%= error_tag f, :role %>
        </div>

  <div class="input-container">
    <%= label f, :password %>
    <%= password_input f, :password %>
    <%= error_tag f, :password %>
   </div>

  <div class="input-container">
    <%= label f, :confirm_password %>
    <%= password_input f, :confirm_password %>
    <%= error_tag f, :confirm_password %>
  </div>

  <div class="input-container">
    <%= label f, :current_password %>
    <%= password_input f, :current_password %>
    <%= error_tag f, :current_password %>
    </div>

  <div>
    <%= submit "Update", class: "select-button" %>
  </div>
<% end %>

