<h2>Register</h2>

<%= form_for @changeset, @action, [as: :user], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

<div class="input-container">
  <%= label f, Pow.Ecto.Schema.user_id_field(@changeset) %>
  <%= text_input f, Pow.Ecto.Schema.user_id_field(@changeset) %>
  <%= error_tag f, Pow.Ecto.Schema.user_id_field(@changeset) %>
 </div>

  <div class="input-container">
     <%= label f, :name %>
      <%= text_input f, :name %>
      <%= error_tag f, :name %>
  </div>

<div class="input-container">
   <%= label f, :is_admin %>
    <%= checkbox f, :is_admin %>
    <%= error_tag f, :is_admin %>
</div>

<div class="input-container">
  <%= label f, :password %>
  <%= password_input f, :password %>
  <%= error_tag f, :password %>
 </div>

<div class="input-container">
  <%= label f, :confirm_password %>
  <%= password_input f, :confirm_password %>
  <%= error_tag f, :confirm_password %>
</div>

  <div>
    <%= submit "Register", class: "select-button" %>
  </div>
<% end %>


<span><%= link "Sign in", to: Routes.pow_session_path(@conn, :new) %></span>
