<h2>Edit</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.contributor_product_management_path(@conn, :update, @product)) %>

<span><%= link "Back", to: Routes.contributor_product_management_path(@conn, :index), class: "link" %></span>
