<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

<div class="input-container">
  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>
  </div>

<div class="input-container">
    <img class="dropdown-indicator" src="/images/down.png">
    <%= label f, :category_id %>
    <%= select f, :category_id, category_select_options(@categories), prompt: "Choose a category" %>
    <%= error_tag f, :category_id %>
    </div>


  <div>
    <%= submit "Save", class: "select-button" %>
  </div>
<% end %>
