<h2>Product Management</h2>

<div class="listing-container">
<%= for product <- @products do %>
       <div class="listing">
       <div>
      <p><%= product.name %><span class="secondary"><%= product.category.name %></span></p>
      </div>
      <div class="edit-links">
        <%= link "Edit", to: Routes.contributor_product_management_path(@conn, :edit, product), class: "link" %>
        <%= link "Delete", to: Routes.contributor_product_management_path(@conn, :delete, product), method: :delete, data: [confirm: "Are you sure?"], class: "link danger-link" %>
        </div>
        </div>
<% end %>
</div>

<span><%= link "New Product", to: Routes.contributor_product_management_path(@conn, :new), class: "link" %></span>
