<h2>New Product</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.contributor_product_management_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.contributor_product_management_path(@conn, :index), class: "link" %></span>
