<h2>Editing</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.contributor_category_path(@conn, :update, @category)) %>

<span><%= link "Back", to: Routes.contributor_category_path(@conn, :index), class: "link" %></span>
