<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

<div class="input-container">
  <%= label f, :name %>
  <%= text_input f, :name %>
  </div>
  <%= error_tag f, :name %>


  <div>
    <%= submit "Save", class: "select-button", class: "select-button" %>
  </div>
<% end %>
