<h2>Categories</h2>

<div class="list-container">
<%= for category <- @categories do %>
      <div class="listing">
      <p><%= category.name %></p>
      <div class="edit-links">

      <%= link "Edit", to: Routes.contributor_category_path(@conn, :edit, category), class: "link" %>
      <%= link "Delete", to: Routes.contributor_category_path(@conn, :delete, category), method: :delete, data: [confirm: "Are you sure?"], class: "link danger-link" %>
      </div>
      </div>

<% end %>
</div>


<span><%= link "New Category", to: Routes.contributor_category_path(@conn, :new), class: "link" %></span>
