<h2>Welcome <%= @current_user.name %>!</h2>
<p>Here are your links. Remember to have a wonderful day!</p>

<div class="contributor-list">
<%= if @conn.assigns.current_user.role == "admin" do %>
<%= link "Categories", to: Routes.contributor_category_path(@conn, :index), class: "big-link" %>
<%= link "Product Management", to: Routes.contributor_product_management_path(@conn, :index), class: "big-link" %>
<%= link "Regions", to: Routes.contributor_region_path(@conn, :index), class: "big-link" %>
<% end %>
<%= link "Products", to: Routes.contributor_product_path(@conn, :index), class: "big-link" %>
<div class="action-links">
    <%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete, class: "link" %>

    <%= link "Edit User", to: Routes.pow_registration_path(@conn, :edit), class: "link" %>
    <%= link "Delete User", to: Routes.pow_registration_path(@conn, :delete), method: :delete, data: [confirm: "Are you sure you want to delete your account?"], class: "link danger-link" %>
</div>
</div>
