<h1>Editing</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.contributor_product_path(@conn, :update, @region_id, @product_id, [@product])) %>

<span><%= link "Back", to: Routes.contributor_product_path(@conn, :index), class: "link" %></span>
