<%= form_for @changeset, @action, fn f -> %>
<%= if @changeset.action do %>
<div class="alert alert-danger">
    <p>Oops, something went wrong! Please check the errors below.</p>
</div>
<% end %>



<div class="editing-info-container">
    <div class="editing-info">
    <label>Product-Type</label>
    <%= @product_name %>
    </div>
    <div class="editing-info">
        <label>Region</label>
        <%= @region_name %>
    </div>
</div>

<div class="input-container">
        <%= label f, :name %>
    <%= text_input f, :name %>
</div>
<%= error_tag f, :name %>




<%= hidden_input f, :type_id %>
<%= hidden_input f, :region_id %>





<div class="month-input__container">
    <h3>Availabilities</h3>
    <%= if Map.has_key?(@changeset.changes, :availabilities) and length(@changeset.changes.availabilities.errors) > 0 do %>
        <div class="error-container">
            <p>The following availability fields had errors: <br/>
        <%= for {error, _ } <- @changeset.changes.availabilities.errors do %>
        <span><%= String.capitalize(Atom.to_string(error)) %></span>
        <% end %>
        </p>

        </div>
        <% end %>
    <div class="form-control">
        <%= inputs_for f, :availabilities, fn fp -> %>
        <div class="input-container">
            <%= label fp, :january, "Jan" %>
            <%= number_input fp, :january , class: "month-input" %>
        </div>
        <div class="input-container">
            <%= label fp, :february, "Feb" %>

            <%= number_input fp, :february, class: "month-input" %>
        </div>
        <div class="input-container">
            <%= label fp, :march, "Mar" %>

            <%= number_input fp, :march, class: "month-input" %>
        </div>
        <div class="input-container">
            <%= label fp, :april, "Apr" %>

            <%= number_input fp, :april, class: "month-input" %>
        </div>
        <div class="input-container">
            <%= label fp, :may, "May" %>

            <%= number_input fp, :may, class: "month-input" %>
        </div>
        <div class="input-container">
            <%= label fp, :june, "Jun" %>

            <%= number_input fp, :june, class: "month-input" %>
        </div>
        <div class="input-container">
            <%= label fp, :july, "Jul" %>

            <%= number_input fp, :july, class: "month-input" %>
        </div>
        <div class="input-container">
            <%= label fp, :august, "Aug" %>

            <%= number_input fp, :august, class: "month-input" %>
        </div>
        <div class="input-container">
            <%= label fp, :september, "Sep" %>

            <%= number_input fp, :september, class: "month-input" %>
        </div>
        <div class="input-container">
            <%= label fp, :october, "Oct" %>

            <%= number_input fp, :october , class: "month-input"%>
        </div>
        <div class="input-container">
            <%= label fp, :november, "Nov" %>

            <%= number_input fp, :november, class: "month-input" %>
        </div>
        <div class="input-container">
                    <%= label fp, :december, "Dec" %>

            <%= number_input fp, :december, class: "month-input" %>
        </div>
        <% end %>
        <%= error_tag f, :availabilities %>
    </div>

</div>

<div class="info-form-container">
    <p>Availabilities go from 0 to 3.</p>
    <ul>
    <li><strong>0</strong> - "Not available"</li>
    <li><strong>1</strong> - "Available stored"</li>
    <li><strong>2</strong> - "In season"</li>
    <li><strong>3</strong> - "Peak season"</li>
    </ul>
</div>

<div>
    <%= submit "Save", class: "select-button" %>
</div>
<% end %>
