<h1>Create Product</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.contributor_product_path(@conn, :create)) %>

<%= link "Back", to: Routes.contributor_product_path(@conn, :index), class: "link" %>
