<h2>Sign in</h2>

<%= form_for @changeset, @action, [as: :user], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>


<div class="input-container">
  <%= label f, Pow.Ecto.Schema.user_id_field(@changeset) %>
  <%= text_input f, Pow.Ecto.Schema.user_id_field(@changeset) %>
  <%= error_tag f, Pow.Ecto.Schema.user_id_field(@changeset) %>
  </div>

  <div class="input-container">
      <%= label f, :password %>
      <%= password_input f, :password %>
      <%= error_tag f, :password %>
  </div>

  <div>
    <%= submit "Sign in", class: "select-button" %>
  </div>
<% end %>

<%= link "Reset password", to: Routes.pow_reset_password_reset_password_path(@conn, :new), class: "link" %>
<%= link "Register", to: Routes.pow_registration_path(@conn, :new), class: "link" %>
